@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.body {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;

    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
h1,.grid,p {
    font-family: 'Dancing Script', cursive;
    font-size: 5vw;
    color: transparent;
    font-weight: 900;
    background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-clip: text;
}
p {
    font-size: 2vw;
    font-style: italic;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(2,50%);
    align-items: center;
    justify-items: center;
    width: 90%;
    height: 30vh;
}